*.iml
.gradle
.idea
/app/build/generated
/app/build/intermediates
/app/build/tmp
/app/build/gmpAppId.txt
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
